.env
.venv
.idea
.idea/
/.idea/httpRequests/2025-03-24T143453.200.json
/.idea/httpRequests/2025-03-24T144547.403.html
/.idea/httpRequests/2025-03-24T174059.403.html
/.idea/httpRequests/2025-05-31T200644.403.html
/.idea/httpRequests/2025-06-28T233940.403.html
/.idea/httpRequests/2025-06-28T235129.403.html
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/http-requests-log.http
/.idea/workspace.xml
